body{
    background-color: #CE2829;
}
.successmain{
  margin-top: 4rem;
    text-align: center;
}
.gelenBilgiler{
margin-top: 5rem;
font-size: 20px;
color: #FAF7F2;
font-family:sans-serif
}
.toplamFiyat{
  margin: 5rem;
  font-size: 20px;
}
.toplamFiyat span{
  font-size: 25px;
  color: #FDC913;
}